body {
  height: 100%;
  width: 100%;
  text-align: center;
  color: rgb(10, 10, 10);
}

table {
  border: 1px solid black; /* Adjust the border style */
  border-collapse: collapse; /* Combine cell borders */
  width: 100%; /* Ensure the table spans the full width */
}

thead {
  background-color: lightcoral;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center; /* Center-align the text in the header cells */
}

td {
  background-color: lightgoldenrodyellow;
  text-align: center; /* Center-align the text in the data cells */
}

/* Optional: Add some spacing and padding for better aesthetics */
th, td {
  padding: 10px;
}

